@import "../../../scss/index.scss";

.ui.menu.vertical.menu-left {
    display: flex;
    justify-content: space-between !important;
    border-radius: 0;
    background-color: #ffff;
    height: 100%;
    width: 100%;
    padding-top: 50px;

    .item,
    a.item {
        color: #e91a4a;
        font-weight: bold;
        font-size: 16px;
        border-left: 4px solid transparent;
        width: 100%;

        &:hover,
        &.active {
            color:#e91a4a;
            background-color: transparent !important;
            cursor: pointer;
        }
        &.active {
            border-color: #e91a4a;
        }
    }

    .footer {
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
    }
}